

<h1>New Book</h1>



<%= form_for(@book) do |f| %>

    <table summary="Book form fields">
        <tr>
            
            <%= f.label :title %>
           <%= f.text_field(:title) %>
        </tr>
        <tr>
            <th>Author</th>
            <td><%= f.text_field(:author) %></td>
        </tr>
         <tr>
            <th>Price</th>
            <td><%= f.text_field(:price) %></td>
        </tr>
         <tr>
            <th>Published Date</th>
            <td><%= f.date_select(:published_date) %></td>
        </tr>
       

    </table>

    <div class="form-buttons">
        <%= f.submit("Create Book")%>
    </div>
<% end %>

<%= link_to 'Back', books_path %>

